* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #1e1e1e;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}

.nav_header{
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

.nav_header {
    padding: 1rem 2rem;
    border-radius: 6px;
    margin: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    transform-origin: center;
}

.nav_header:hover{
    background-color: #141618;
    color: white;
    transform: scale(1.05) rotate(3deg);
    box-shadow: 0 8px 15px rgba(250, 248, 248, 0.5);
}
main {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    background-color: #2b2929;
    position: relative;
}

.contacts {
    padding: 20px;
    margin: auto;
    height: auto;
    width: 30rem;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.contacts:hover {
    transition: transform 0.6s ease;
    box-shadow: 0 2px 6px rgba(252, 249, 249, 0.5);
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    color: #979090;
    border: solid 1px;
    padding: 5px;
}

th {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: left;
}

#contact:hover {
    color: #979090;
    text-decoration: none;
}

td a {
    color: red;
}


table td, a:hover {
    color: white;
}

footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-footer__a {
    padding: 10px;
    text-decoration: none;
    color: #2a38ad;
}

.nav-footer__a:hover {
    color: #fff;
}